{% extends "header.html" %}
{% block content %}
<form method="POST">
    </label><input type="text" name="username" placeholder="Username" id="username"><br>
    <input type="password" name="password" placeholder="Password" id="password"><br>
    <input type="submit">
</form>
<style>
    input[type="text"], input[type="password"] {
        width: 80%;
    }

    input[type="submit"] {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        background-color: transparent;

        color: rgb(94, 149, 252);
        border: 1px rgb(94, 149, 252) solid;
    }
</style>
{% endblock content %}